<div class="edit-form-container" style="background-image: url('<%= asset_path('memo-background2.png') %>'); ">

<%= form_with(model: @blog, local: true) do |form| %>

    <h1 class='sub-header'>新しい予定を作成</h1>
    
    <div class="title">
        <%= form.text_field :title, placeholder: "タイトル", class: 'custom-title' %>
    </div>
    <br>
    <div class="content">
        <%= form.text_area :content, placeholder: "メモ", class: 'custom-content' %>
    </div>
    <br>
    <div class="start_time">
        <%= form.label :開始時間 %>
        <%= form.datetime_select :start_time %>
    </div>
    <div class="finish_time">
        <%= form.label :終了時間 %>
        <%= form.datetime_select :finish_time %>
    </div>
    <br>
    <div class="category">
        <%= form.select :category, [["予定","show"],["タスク","task"]], include_blank: "どの投稿？", class: "category-select" %>
    </div>
    <br>
    <div class="deadline">
        <%= form.label :締め切り %>
        <%= form.datetime_select :deadline, include_blank: true%>
    </div>
    <br>

    <div class="submit">
        <%= form.submit "予定を作成" %>
    </div>


    <% end %>

</div>